*{
    margin: 0;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header nav{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 51px;
    width: 71%;
    max-width: 1140px;
}
nav .name h2{
    font-size: 45px;
    color: #181818;
}
nav div h2 .text-color{
    color: #FD6E0A;
}
header nav ul{
    display: flex;
    gap: 51px;
    align-items: center;
}
header nav ul li{
    list-style-type: none;
    font-size: 20px;
}
header nav ul li a{
    text-decoration: none;
    color: #474747;
}
.btn a{
    color: #FFFFFF;
}
.btn, .form input[type = "submit"]{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 18px 36px;
    font-size: 20px;
    font-weight: bold;
}
header{
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position: 38px 25px, bottom right;
}
.container{
    display: flex;
    max-width: 1332px;
    margin: 46px 38px 0 230px;
}
.container .heading{
    margin: auto;
}
.container .heading .intro{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin: 5px;
}
.container .heading h1{
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
}
.container .heading p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
.container div #contact{
    margin-left: 30px;
    background-color: #FFF8F3;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
}
.image{
    width: 584px;
    height: 676px;
    margin-bottom: 0;
}
img{
    width: 100%;
    height: 676px;
    object-fit: cover;
}
main .about{
    width: 71%;
    max-width: 1140px;
    display: flex;
    margin: 130px auto 0;
    background-color: #FFF8F3;
}
main section .about-container{
    text-align: center;
    margin: 131px 156px;
    border: none;
    border-radius: 5px;
}
.about-container h3{
    font-size: 45px;
    color: #181818;
    margin-bottom: 30px;
}
.about-container p{
    font-size: 18px;
    color: #757575;
}
.about-container .about-info{
    display: flex;
    gap: 50px;
    margin-top: 30px;
}
.about-info .info-card{
    font-size: 20px;
}
.about-info .info-card h4{
    color: #757575;
}
.experience .experience-container{
    width: 71%;
    max-width: 1140px;
    margin: auto;
    padding-top: 130px;
}
.experience .experience-container .description{
    text-align: center;
    margin-bottom: 50px;
}
.experience-container .description h3{
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}
.experience-container .description p{
    font-size: 18px;
    color: #757575;
}
.card-container{
    display: flex;
    gap: 24px;
}
.card-container .card{
    padding: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 6px 50px rgba(0, 0, 0, 0.06);
}
.card-container .card img{
    width: 44px;
    height: 44px;
    margin-bottom: 30px;
}
.card-container .card h4{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.card-container .card p{
    font-size: 18px;
    color: #757575;
}
.resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 130px auto 0;
}
.resume-container h2{
    text-align: center;
    font-size: 35px;
    color: #181818;
}
.resume-container .education{
    display: flex;
    gap: 24px;
    margin-top: 113px;
    margin-bottom: 50px;
}
.resume-container .education-info .degree{
    width: 511px;
    margin-bottom: 30px;
}
hr{
    margin-bottom: 30px;
}
.education .education-info h3{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}
.education .education-info h4{
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.education .education-info .university{
    font-size: 20px;
    color: #757575;
    margin-bottom: 30px;
}
.education .education-info .education-details{
    font-size: 16px;
    color: #757575;
}
.resume-container .btn{
    display: flex;
    margin: 0 auto;
}
footer{
    background-color: #FFF8F3;
}
footer .contact{
    display: flex;
    width: 71%;
    max-width: 1140px;
    gap: 117px;
    margin: 113px auto 0;
    padding: 130px;
}
footer .contact h3{
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}
footer .contact .info p{
    font-size: 16px;
    color: #474747;
    margin-bottom: 30px;
}
footer .contact .icon{
    font-size: 20px;
    color: #FD6E0A;
}
.form input[type = "text"],
input[type = "email"],
textarea
{
    display: block;
    padding: 18px 36px;
    border: none;
    border-radius: 5px;
    margin-bottom: 24px;
}
